@use '../partials/breakpoints.scss' as *;

@mixin checkoutStatusComponent {
    .cart {
        padding-bottom: 30px;
        .cart__intro {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            justify-content: space-between;
            text-transform: uppercase;
        }
        .cart__title {
            font-family: var(--font-content);
            font-size: 28px;
            font-weight: 700;
            @include breakpointMax(phone) {
                font-size: 20px;
            }
        }
        .cart-actions {
            margin-top: 75px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .icon-cancel {
            font-size: 13px;
        }
        .cart__btn-back {
            font-weight: 700;
            font-size: 14px;
            color: #000;
            margin-right: auto;
            margin-bottom: 40px;
            @include breakpoint(phone) {
                margin-bottom: 0;
            }
            i {
                margin-right: 15px;
            }
        }
        .cart__promo-code {
            padding: 0 20px;
            font-size: 13px;
            height: 40px;
            width: 100%;
            margin-bottom: 18px;
            border: 1px solid #d8d8d8;
            border-radius: 30px;
            @include breakpoint(phone) {
                height: 49px;
                width: auto;
                margin-bottom: 0;
                margin-right: 70px;
            }
            @include placeholder {
                color: #ababab;
            }
        }
        .cart-actions__total {
            font-weight: 300;
            margin-right: auto;
            @include breakpoint(phone) {
                margin-right: 60px;
            }
            strong {
                margin-left: 15px;
                color: #000;
                font-weight: 700;
            }
        }
    }
    .checkout-steps {
        display: flex;
        align-items: center;
        li {
            position: relative;
            padding-right: 60px;
            @include breakpoint(phone) {
                padding-right: 105px;
            }
            &.active {
                i {
                color: #FFF;
                background: linear-gradient(#86c440,#3eb54a);
                }
            }
            &.done {
                i {
                    color: #9DC88D;
                    border: 1.3px solid #9DC88D;
                }
            }
            &:before {
                top: 50%;
                right: 15px;
                height: 1px;
                left: 45px;
                content: '';
                display: block;
                background: #EEEEEE;
                margin-top: -1px;
                position: absolute;
            }
            i {
                display: flex;
                width: 36px;
                height: 36px;
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                color: #D8D8D8;
                font-size: 16px;
                &.icon-delivery {
                font-size: 12px;
                }
            }
            &:last-of-type {
                padding-right: 0;
                &:before {
                content: none;
                }
            }
        }
    }
}