@use '../partials/breakpoints.scss' as *;

@mixin collectionsComponent {
  .products-page {
    .component-container {
      @include breakpoint(phone) {
        display: flex;
        align-items: flex-start;
      }
    }
    .products-content {
      width: 100%;
      @include breakpoint(tablet-lg) {
        margin-bottom: 20px;
      }
      .products-content__intro {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
        h2 {
          font-size: 18px;
          margin-right: auto;
          font-weight: 300;
          @include breakpoint(phone) {
            font-size: 24px;
          }
          span {
            color: #d8d8d8;
          }
        }
        .products-filter-btn {
          font-size: 16px;
          @include breakpoint(tablet-lg) {
            display: none;
          }
        }
        .products-content__filter {
          position: absolute;
          width: 290px;
          padding: 20px;
          top: 150%;
          right: 0;
          display: none;
          z-index: 50;
          border: 1px solid #e5e5e5;
          background-color: #fff;
          &.products-order-open {
            display: block;
          }
          @include breakpoint(phone) {
            display: flex;
            width: 100%;
            padding: 0;
            border: none;
            position: static;
            margin-top: 30px;
          }
          @include breakpoint(tablet-lg) {
            width: auto;
            margin-top: 0;
          }
          .products__filter__select {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-of-type {
              margin-bottom: 0;
            }
            &:first-of-type {
              margin-left: 0;
            }
            @include breakpoint(phone) {
              margin-left: 42px;
              margin-bottom: 0;
            }
            h4 {
              font-size: 13px;
              @include breakpoint(phone) {
                font-size: 16px;
              }
            }
            .select-wrapper {
              margin-left: auto;
              @include breakpoint(phone) {
                margin-left: 15px;
              }
              select {
                font-size: 13px;
                padding: 6px 25px 6px 8px;
                @include breakpoint(phone) {
                  padding: 9px 38px 9px 12px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
