// Check Box
.checkbox {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  color: #000;
  margin-bottom: 18px;
  align-items: center;
  p {
    margin: 0;
  }
  .checkbox__check {
    display: block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    position: relative;
    margin-right: 18px;
    border: 1px solid #d4d4d4;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 4px;
      left: 9px;
      opacity: 0;
      width: 7px;
      height: 12.5px;
      transform: scale(1) rotate(45deg);
      z-index: 100;
      border: 1px solid #3eb54a;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      border-width: 0 2px 2px 0;
    }
  }
  input:checked + .checkbox__check {
    &:before {
      opacity: 1;
    }
  }
  &.checkbox--square {
    position: relative;
    width: calc(100% / 6);
    input:checked + .checkbox__check {
      background-color: #000;
      border-color: #000;
      &:before {
        opacity: 0;
      }
    }
    input:checked ~ p {
      color: #fff;
    }
    input {
      display: none;
    }
    p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .checkbox__check {
      display: block;
      width: 100%;
      margin-right: 0;
      position: relative;
      padding-bottom: 100%;
      border-left: none;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      .checkbox__color {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
      }
    }
    &:first-of-type {
      .checkbox__check {
        border-left: 1px solid #d4d4d4;
      }
    }
  }
}

.checkbox-size {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    color: #000;
    margin-bottom: 10px;
    align-items: center;
    .checkbox__check {
      display: block;
      width: 100%;
      height: 65px;
      position: relative;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
    }
    &:first-of-type {
      .checkbox__check {
        border-left: 1px solid #d4d4d4;
      }
    }
    input {
      height: 0;
      width: 0;
      display: none;
      overflow: hidden;
    }
  }

.form {
  .form__input-row {
    margin-bottom: 15px;
  }
  .form__input {
    height: 47px;
    width: 100%;
    font-weight: 500;
    color: #808080;
    padding: 0 22px;
    border-radius: 40px;
    border: 1px solid #d8d8d8;
    @include breakpoint(phone) {
      height: 56px;
      padding: 0 40px;
    }
  }
  .form__btns {
    justify-content: space-between;
    display: flex;
    .btn-social {
      width: 48%;
    }
  }
  .btn-submit {
    margin-top: 20px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 600;
    text-transform: none;
    @include breakpoint(phone) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
  .form__signup-link {
    margin-top: 22px;
    font-size: 14px;
    color: #000;
    padding-bottom: 2px;
    text-align: center;
    a {
      margin-left: 30px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .form__info {
    margin-bottom: 22px;
    @include breakpoint(phone) {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      justify-content: space-between;
    }
    .form__info__forgot-password {
      margin-top: 24px;
      text-align: center;
      display: block;
      @include breakpoint(phone) {
        margin-top: 0px;
      }
    }
    .checkbox {
      margin-bottom: 0;
      .checkbox__check {
        height: 20px;
        width: 20px;
        &:before {
          top: 2px;
          left: 6px;
          width: 6px;
          height: 10.5px;
        }
      }
      p {
        font-size: 13px;
        line-height: 130%;
      }
    }
    a {
      font-size: 14px;
    }
  }
}
