// Check Box
.checkbox {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  color: #000;
  margin-bottom: 18px;
  align-items: center;
  p {
    margin: 0;
  }
  .checkbox__check {
    display: block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    position: relative;
    margin-right: 18px;
    border: 1px solid #d4d4d4;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 4px;
      left: 9px;
      opacity: 0;
      width: 7px;
      height: 12.5px;
      transform: scale(1) rotate(45deg);
      z-index: 100;
      border: 1px solid #3eb54a;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      border-width: 0 2px 2px 0;
    }
  }
  input:checked + .checkbox__check {
    &:before {
      opacity: 1;
    }
  }
  &.checkbox--square {
    position: relative;
    width: calc(100% / 6);
    input:checked + .checkbox__check {
      background-color: #000;
      border-color: #000;
      &:before {
        opacity: 0;
      }
    }
    input:checked ~ p {
      color: #fff;
    }
    input {
      display: none;
    }
    p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .checkbox__check {
      display: block;
      width: 100%;
      margin-right: 0;
      position: relative;
      padding-bottom: 100%;
      border-left: none;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      .checkbox__color {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
      }
    }
    &:first-of-type {
      .checkbox__check {
        border-left: 1px solid #d4d4d4;
      }
    }
  }
}

.checkbox-size {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  color: #000;
  margin-bottom: 10px;
  align-items: center;
  .checkbox__check {
    display: block;
    width: 100%;
    height: 65px;
    position: relative;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
  }
  &:first-of-type {
    .checkbox__check {
      border-left: 1px solid #d4d4d4;
    }
  }
  input {
    height: 0;
    width: 0;
    display: none;
    overflow: hidden;
  }
}

.form {
  .form__input-row {
    margin-bottom: 15px;
  }
  .form__input {
    height: 47px;
    width: 100%;
    font-weight: 500;
    color: #808080;
    padding: 0 22px;
    border-radius: 40px;
    border: 1px solid #d8d8d8;
    @include breakpoint(phone) {
      height: 56px;
      padding: 0 40px;
    }
  }
  .form__btns {
    justify-content: space-between;
    display: flex;
    .btn-social {
      width: 48%;
    }
  }
  .btn-submit {
    margin-top: 20px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 600;
    text-transform: none;
    @include breakpoint(phone) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
  .form__signup-link {
    margin-top: 22px;
    font-size: 14px;
    color: #000;
    padding-bottom: 2px;
    text-align: center;
    a {
      margin-left: 30px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .form__info {
    margin-bottom: 22px;
    @include breakpoint(phone) {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      justify-content: space-between;
    }
    .form__info__forgot-password {
      margin-top: 24px;
      text-align: center;
      display: block;
      @include breakpoint(phone) {
        margin-top: 0px;
      }
    }
    .checkbox {
      margin-bottom: 0;
      .checkbox__check {
        height: 20px;
        width: 20px;
        &:before {
          top: 2px;
          left: 6px;
          width: 6px;
          height: 10.5px;
        }
      }
      p {
        font-size: 13px;
        line-height: 130%;
      }
    }
    a {
      font-size: 14px;
    }
  }
}

.product-single {
  margin-bottom: 70px;
  .product-single__content {
    margin-bottom: 50px;
    @include breakpoint(phone) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 100px;
    }
  }
  .product-content {
    flex: 1;
  }
  .product-single__info {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  @include breakpoint(phone) {
    margin-right: -33px;
  }
  @include breakpoint(tablet-lg) {
    margin-right: -25px;
  }
  .product-item {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
    margin-right: 15px;
    @include breakpoint(phone) {
      margin-right: 33px;
      width: calc(100% / 3 - 33px);
      &:hover {
        background-color: transparent;
        box-shadow: 0 4px 2px -2px var(--color-global-light); 
      }
    }
  }
}

.form__input {
  background: #fff;
  border-radius: 1px;
  line-height: 1.42857143;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 8px 10px;
  height: auto;
  width: 100%;
  min-width: 220px;
  border: 1px solid #a6a6a6;
}

table > caption {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  .table-caption {
    display: none;
  }
}

.title-header {
  text-transform: uppercase;
}

.info-product{
  display: flex;
  text-align: left;
  min-height: 75px;
  position: relative;
  .product-item-photo {
      height: 90px;
      width: 90px;
      margin-right: 15px;
      .product-image-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
      }
  }
  .product-item-info {
      display: table-cell;
      padding-bottom: 30px;
      vertical-align: top;
      white-space: normal;
      width: 99%;
      .display-category-name {
          font-weight: 600;
          margin-bottom: 5px;
          line-height: 15px;
          color: #b70020;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          word-wrap: break-word;
      }
      .product-item-size {
          margin-top: 10px;
          p {
              font-size: 14px;
          }
      }
  }
}